extends layout

block content

    // USER LIST
    h2 User List
    #userList
      table
        thead
          th Email
          th Role
          th Team
          th Type
          th Delete?
        tbody
    // /USER LIST

    // ADD USER
    h2 Add User
    #addUser
      fieldset
        input#inputUserEmail(type='text', placeholder='Email')
        input#inputUserRole(type='text', placeholder='Role')
        br
        input#inputUserTeam(type='text', placeholder='Team')
        input#inputUserType(type='text', placeholder='Type')
        br
        button#btnAddUser Add User
    // /ADD USER

  // /WRAPPER